.hero {
  position: relative;
  height: 100vh; /* Prend toute la hauteur de l'écran */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  color: white;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.64);
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  animation: fadeInBg 1.5s ease-out forwards; /* Animation pour le fond */
}

.bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 10px 20px;
  border-radius: 15px;
  max-width: 600px;
  animation: fadeInContent 1s ease-out forwards 0.5s; /* Début après le fond */
  opacity: 0; /* Commence invisible */
  background-color: rgba(0, 0, 0, 0.391);
}

/* Animation pour l'effet d'apparition du fond */
@keyframes fadeInBg {
  from {
    opacity: 0;
    transform: scale(1.05); /* Légère mise à l’échelle */
  }
  to {
    opacity: 1;
    transform: scale(1); /* Retour à l’échelle normale */
  }
}

/* Animation pour l'effet d'apparition du contenu */
@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: translateY(20px); /* Départ en bas */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Arrivée à sa place d'origine */
  }
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* Responsivité */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  .cta-button {
    padding: 8px 16px;
  }
}
