.experience {
  padding: 40px;
  color: white;
  min-height: 100vh;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.experience.visible {
  opacity: 1;
  transform: translateY(0);
}

.experience h2 {
  font-size: 28px; /* Taille du titre augmentée */
  margin-bottom: 30px; /* Espacement sous le titre */
  text-align: center; /* Centrer le titre */
  text-transform: uppercase; /* Mettre en majuscules pour un style moderne */
}

.timeline {
  position: relative;
  padding: 20px 0;
  list-style: none;
}

.timeline-item {
  position: relative;
  display: flex;
  justify-content: space-between; /* Espacement entre les formations et les emplois */
  margin: 20px 0; /* Espacement entre les éléments */
}

.timeline-content {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.9s ease-out, transform 0.5s ease-out;
   background: rgba(0, 0, 0, 0.7); /* Fond des éléments de chronologie */
  border-radius: 8px; /* Coins arrondis */
  padding: 20px; /* Espacement intérieur augmenté */
  color: white; /* Couleur du texte */
  width: 45%; /* Largeur de l'élément de chronologie */
}

/* Visible au scroll */
.timeline-content.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Disparaît quand on descend */
.timeline-content.disappearing {
  opacity: 0;
  transform: translateY(-20px);
}

.timeline-item:hover .timeline-content {
  transform: scale(1.05); /* Légère élévation au survol */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Ombre au survol */
}

.education {
  align-self: flex-start; /* Aligne les formations à gauche */
}

.job {
  align-self: flex-end; /* Aligne les emplois à droite */
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  width: 2px; /* Épaisseur de la ligne */
  background-color: #555; /* Couleur de la ligne */
}

.timeline-item:nth-child(even) .timeline-content {
  margin-left: 52%; /* Aligne les éléments à gauche pour les items pairs */
}

.timeline-item:nth-child(odd) .timeline-content {
  margin-right: 52%; /* Aligne les éléments à droite pour les items impairs */
}

/* Responsivité */
@media (max-width: 768px) {
  .timeline-item {
    flex-direction: column; /* Empile les éléments sur les petits écrans */
    align-items: center; /* Centre les éléments */
  }

  .timeline-content {
    width: 90%; /* Élargit la largeur sur mobile */
    margin-left: 0; /* Supprime le décalage */
    margin-right: 0; /* Supprime le décalage */
  }

  .timeline-item::before {
    display: none; /* Supprime la ligne centrale sur mobile */
  }
}
