<div class="experience">
  <h2>Mon Parcours</h2>
  <div class="timeline">
    <div class="timeline-item education">
      <div class="timeline-content">
        <h3>2024-2025</h3>
        <p><strong>Bac+5 Chef de projet en développement informatique</strong></p>
        <p>Cette formation offre une vue d'ensemble des compétences nécessaires pour piloter des projets informatiques avec succès, alliant techniques de développement et gestion de projet.</p>
      </div>
    </div>
    <div class="timeline-item job">
      <div class="timeline-content">
        <h3>2024 (4 mois)</h3>
        <p><strong>Développeur Stagiaire</strong></p>
        <p>Conception et développement d'une application de gestion pour une association locale. Outils et langages utilisés : Nest.js, Nuxt.js, Docker, Figma, Postman, GCP, Node.js, ORM, Trello.</p>
      </div>
    </div>
    <div class="timeline-item education">
      <div class="timeline-content">
        <h3>2022-2024</h3>
        <p><strong>Bac+3 Concepteur Designer d'Application</strong></p>
        <p>Compétences en design d'interface, en ergonomie, en développement web et mobile, ainsi qu'en gestion de projet. Ce cursus met l'accent sur la créativité, l'innovation et l'expérience utilisateur.</p>
      </div>
    </div>
    <div class="timeline-item job">
      <div class="timeline-content">
        <h3>2023</h3>
        <p><strong>Freelance</strong></p>
        <p>Conception et développement de plusieurs sites vitrine. Outils et langages utilisés : Vue.js, React.js, O2switch, WordPress, Figma, Google Search Console.</p>
      </div>
    </div>
    <div class="timeline-item education">
      <div class="timeline-content">
        <h3>2023</h3>
        <p><strong>Bac+2 Développeur Web et Web Mobile</strong></p>
        <p>Apprentissage des bases du développement web et web mobile : HTML, CSS, JavaScript, PHP, SQL.</p>
      </div>
    </div>
    <div class="timeline-item job">
      <div class="timeline-content">
        <h3>2019-2022</h3>
        <p><strong>Multiples postes commerciaux</strong></p>
        <p>Sales Manager, Préparateur de commande, Vendeur/Livreur, Responsable secteur.</p>
      </div>
    </div>
    <div class="timeline-item education">
      <div class="timeline-content">
        <h3>2020-2022</h3>
        <p><strong>DEUG Économie et management d'entreprise</strong></p>
        <p>Commerce, Marketing, Probabilités statistiques, Management.</p>
      </div>
    </div>
  </div>
</div>
