<div class="skills">
  <h2>Mes Compétences</h2>
  <div class="skills-container">
    <div class="skill-card">
      <h3>Développement Web</h3>
      <p>HTML, CSS, JavaScript, TypeScript, PHP, Node.js, SQL, PostgreSQL, Docker, MongoDB, GCP, Google Search Console</p>
    </div>
    <div class="skill-card">
      <h3>Frameworks</h3>
      <p>Angular, React, Vue.js, Express.js</p>
    </div>
    <div class="skill-card">
      <h3>Outils de Conception</h3>
      <p>Figma, Adobe XD, Sketch, Canva</p>
    </div>
    <div class="skill-card">
      <h3>Gestion de Projet</h3>
      <p>Agile, Scrum, Trello, Jira</p>
    </div>
    <div class="skill-card">
      <h3>Compétences Personnelles</h3>
      <p>Communication, Travail d'équipe, Adaptabilité, Résolution de problèmes</p>
    </div>
    <div class="skill-card">
      <h3>Langues</h3>
      <p>Français, Anglais</p>
    </div>
    <div class="skill-card">
      <h3>Réseaux</h3>
      <p>TCP/IP, DNS, DHCP, VPN, VLAN</p>
    </div>
    <div class="skill-card">
      <h3>Cybersécurité</h3>
      <p>Gestion des vulnérabilités, Firewalls, Sécurité des applications, Audit de sécurité</p>
    </div>
    <div class="skill-card">
      <h3>Langages de Programmation</h3>
      <p>Python, Java</p>
    </div>
  </div>
</div>
