<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- app.component.html -->
<main class="main">
  <app-header></app-header>

  <div class="main-content">
    
    <div class="content">
      <app-hero></app-hero>
      <section id="about">
        <app-about></app-about>
      </section>

      <div class="divider"></div>

      <section id="experience">
        <app-experience></app-experience>
      </section>

      <div class="divider"></div>

      <section id="skills">
        <app-skills></app-skills>
      </section>

      <div class="divider"></div>

      <section id="portfolio">
        <app-portfolio></app-portfolio>
      </section>
      <div class="divider"></div>

      <section id="contact">
        <app-contact></app-contact>
      </section>
    </div>

    <footer>
      <p>© 2024 Mon Site. Tous droits réservés.</p>
    </footer>
  </div>
</main>
<router-outlet />



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
